<div class="container">
  <div class="row">
    <div class="col-5">

	<h1>Editar Contacto</h1>

<%= render 'form', contacto: @contacto %>

<%= link_to 'Show', @contacto %> |
<%= link_to 'Back', contactos_path %>

    </div>
  </div>
</div>
