<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Nueva Proforma</h1>

      <%= render 'form', proforma: @proforma %>

      <%= link_to 'Back', proformas_path %>
    </div>
  </div>
</div>
