<div class="container">
  <div class="row">
    <div class="col-9">
        <h2>SOMOS GyUPC</h2>
        <p> La constructora de tus sueños</p>
      <%= image_tag "banner-home-03.jpg", :class => "d-block w-100", html: { alt: "Fisrt slide" }%>
    </div>
  </div>
</div>
