<%= content_for :head do %>
<title>Nosotros</title>
<% end %>

<div class="container">
  <div class="row">
    <%= content_for :intro do %>
      <h3>Misión</h3>
    <% end%>

    <p>
      “En Constructora GyUPC nos encargamos de entregar a las personas y sus familias la mejor solución habitacional a través de todos nuestros proyectos, de manera de mejorar su calidad de vida. Para lograr esto trabajamos con los mejores profesionales del mercado, entregamos viviendas cuya relación precio-calidad es óptima y nos preocupamos constantemente de ser pioneros, adelantándonos a las necesidades de nuestros clientes y anticipándonos a las tendencias del mercado”.
    </p>

    <%= content_for :intro do %>
      <h3>Visión</h3>
    <% end%>

    <p>
      "Mantenernos como una de las Inmobiliarias más importantes del país. Cumplir cabalmente nuestra Misión, preocupándonos de nuestros clientes tanto en la concepción de nuestros productos como durante todo el proceso de compra, incluida la postventa".
    </p>

    <%= content_for :intro do %>
      <h3>Respaldo y Confianza</h3>
    <% end%>

    <p>
      "Constructora GyUpc se preocupa por entregarle un lugar seguro y confiable, para ello trabajamos con los mejores profesionales, empresas de supervisión para la construcción y especialistas renombrados".
    </p>
  </div>
  <div class="row">
    <div class="col-4">
      <img width="1200" height="630" src="https://www.inmobiliariadanfra.com.pe/blog/wp-content/uploads/2019/01/las-principales-ventajas-de-vivir-en-un-departamento-duplex.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.inmobiliariadanfra.com.pe/blog/wp-content/uploads/2019/01/las-principales-ventajas-de-vivir-en-un-departamento-duplex.jpg 1200w, https://www.inmobiliariadanfra.com.pe/blog/wp-content/uploads/2019/01/las-principales-ventajas-de-vivir-en-un-departamento-duplex-300x158.jpg 300w, https://www.inmobiliariadanfra.com.pe/blog/wp-content/uploads/2019/01/las-principales-ventajas-de-vivir-en-un-departamento-duplex-768x403.jpg 768w, https://www.inmobiliariadanfra.com.pe/blog/wp-content/uploads/2019/01/las-principales-ventajas-de-vivir-en-un-departamento-duplex-1024x538.jpg 1024w" sizes="(max-width: 1200px) 100vw, 1200px" />
      </figure>
    </div>
  </div>
</div>

