<div class="container">
  <div class="row">
    <div class="col-5">
<h1>Nuevo Estado</h1>

<%= render 'form', estado: @estado %>





<%= link_to 'Regresar', estados_path %>
    </div>
  </div>
</div>